@media screen and (min-width: 769px){
    .homeAnimation {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: all ease 0.3s;
        background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
        opacity: 0;
    }
    #animation:hover .homeAnimation{
        background: linear-gradient(to top, black, rgba(0, 0, 0, 0.2));
        cursor: pointer;
        opacity: 1;
    }
    #tributePhotoAnimation{
        transition: all ease 0.3s;
        transform: scale(1);
    }
    #animation:hover #tributePhotoAnimation{
        transform: scale(1.1);
    }
    #animation:hover .seeMore{
        opacity: 1;
        top:100px;
    }
    .seeMore{
        transition: all ease 0.3s;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        top: 80px;
        position: relative;
        opacity: 0;
    }
    .seeMore:hover{
        background-color: #57c5f7;
        border: 1px solid #57c5f7;
        box-shadow: 3px 3px 10px black;
    }
    #buttonNone{
        display: none;
    }
}
@media screen and (max-width: 768px){
    #buttonNone{
        display: block;
        background-color: transparent;
        border: none;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        bottom: -10px;
        position: relative;
        margin: 0 auto;
    }
    .seeMore{
        display: none;
    }
    .homeAnimation{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 60px;
        background: rgba(0, 0, 0, 0.5);
    }
}
@media screen and (max-width: 500px){
    #buttonNone{
        display: block;
        background-color: transparent;
        border: none;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        bottom: -2px;
        position: relative;
        margin: 0 auto;
    }
    .homeAnimation{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 40px;
        background: rgba(0, 0, 0, 0.5);
    }

}

