#createAlbumPopUp .EditorToolbar__root___3_Aqz{
    display: none;
}
#createAlbumPopUp .modal-content{
    border: 1px solid #3498DB !important;
    box-shadow: none !important;
    background: white;
    min-height: 150px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
}

#createAlbumPopUp .modal-dialog{
    margin-top: 80px;
}