    /*
    Flaticon icon font: Flaticon
    Creation date: 21/08/2016 15:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svglaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svglaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add-location:before { content: "\f100"; }
.flaticon-albums:before { content: "\f101"; }
.flaticon-arrow:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-arrows-1:before { content: "\f104"; }
.flaticon-arrows-2:before { content: "\f105"; }
.flaticon-art:before { content: "\f106"; }
.flaticon-avatar:before { content: "\f107"; }
.flaticon-book:before { content: "\f108"; }
.flaticon-cerrar:before { content: "\f109"; }
.flaticon-como:before { content: "\f10a"; }
.flaticon-construction:before { content: "\f10b"; }
.flaticon-draw:before { content: "\f10c"; }
.flaticon-exportar:before { content: "\f10d"; }
.flaticon-facebook-logo:before { content: "\f10e"; }
.flaticon-filter:before { content: "\f10f"; }
.flaticon-formas:before { content: "\f110"; }
.flaticon-foto:before { content: "\f111"; }
.flaticon-hoja:before { content: "\f112"; }
.flaticon-interface:before { content: "\f113"; }
.flaticon-interfaz:before { content: "\f114"; }
.flaticon-interfaz-1:before { content: "\f115"; }
.flaticon-location:before { content: "\f116"; }
.flaticon-magnifying-glass:before { content: "\f117"; }
.flaticon-more:before { content: "\f118"; }
.flaticon-negro:before { content: "\f119"; }
.flaticon-negro-1:before { content: "\f11a"; }
.flaticon-personas:before { content: "\f11b"; }
.flaticon-play-button:before { content: "\f11c"; }
.flaticon-plus:before { content: "\f11d"; }
.flaticon-profile:before { content: "\f11e"; }
.flaticon-reloj:before { content: "\f11f"; }
.flaticon-shapes:before { content: "\f120"; }
.flaticon-shapes-1:before { content: "\f121"; }
.flaticon-sign:before { content: "\f122"; }
.flaticon-signs:before { content: "\f123"; }
.flaticon-social:before { content: "\f124"; }
.flaticon-social-1:before { content: "\f125"; }
.flaticon-social-2:before { content: "\f126"; }
.flaticon-social-media:before { content: "\f127"; }
.flaticon-tecnologia:before { content: "\f128"; }
.flaticon-time:before { content: "\f129"; }
.flaticon-time-1:before { content: "\f12a"; }
.flaticon-up-arrow:before { content: "\f12b"; }
.flaticon-usuarios-multiples-en-silueta:before { content: "\f12c"; }
.flaticon-web:before { content: "\f12d"; }
.flaticon-witch:before { content: "\f12e"; }
    
    $font-Flaticon-add-location: "\f100";
    $font-Flaticon-albums: "\f101";
    $font-Flaticon-arrow: "\f102";
    $font-Flaticon-arrows: "\f103";
    $font-Flaticon-arrows-1: "\f104";
    $font-Flaticon-arrows-2: "\f105";
    $font-Flaticon-art: "\f106";
    $font-Flaticon-avatar: "\f107";
    $font-Flaticon-book: "\f108";
    $font-Flaticon-cerrar: "\f109";
    $font-Flaticon-como: "\f10a";
    $font-Flaticon-construction: "\f10b";
    $font-Flaticon-draw: "\f10c";
    $font-Flaticon-exportar: "\f10d";
    $font-Flaticon-facebook-logo: "\f10e";
    $font-Flaticon-filter: "\f10f";
    $font-Flaticon-formas: "\f110";
    $font-Flaticon-foto: "\f111";
    $font-Flaticon-hoja: "\f112";
    $font-Flaticon-interface: "\f113";
    $font-Flaticon-interfaz: "\f114";
    $font-Flaticon-interfaz-1: "\f115";
    $font-Flaticon-location: "\f116";
    $font-Flaticon-magnifying-glass: "\f117";
    $font-Flaticon-more: "\f118";
    $font-Flaticon-negro: "\f119";
    $font-Flaticon-negro-1: "\f11a";
    $font-Flaticon-personas: "\f11b";
    $font-Flaticon-play-button: "\f11c";
    $font-Flaticon-plus: "\f11d";
    $font-Flaticon-profile: "\f11e";
    $font-Flaticon-reloj: "\f11f";
    $font-Flaticon-shapes: "\f120";
    $font-Flaticon-shapes-1: "\f121";
    $font-Flaticon-sign: "\f122";
    $font-Flaticon-signs: "\f123";
    $font-Flaticon-social: "\f124";
    $font-Flaticon-social-1: "\f125";
    $font-Flaticon-social-2: "\f126";
    $font-Flaticon-social-media: "\f127";
    $font-Flaticon-tecnologia: "\f128";
    $font-Flaticon-time: "\f129";
    $font-Flaticon-time-1: "\f12a";
    $font-Flaticon-up-arrow: "\f12b";
    $font-Flaticon-usuarios-multiples-en-silueta: "\f12c";
    $font-Flaticon-web: "\f12d";
    $font-Flaticon-witch: "\f12e";