	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/08/2016 15:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-add-location:before { content: "\f100"; }
.flaticon-albums:before { content: "\f101"; }
.flaticon-arrow:before { content: "\f102"; }
.flaticon-arrows:before { content: "\f103"; }
.flaticon-arrows-1:before { content: "\f104"; }
.flaticon-arrows-2:before { content: "\f105"; }
.flaticon-art:before { content: "\f106"; }
.flaticon-avatar:before { content: "\f107"; }
.flaticon-book:before { content: "\f108"; }
.flaticon-cerrar:before { content: "\f109"; }
.flaticon-como:before { content: "\f10a"; }
.flaticon-construction:before { content: "\f10b"; }
.flaticon-draw:before { content: "\f10c"; }
.flaticon-exportar:before { content: "\f10d"; }
.flaticon-facebook-logo:before { content: "\f10e"; }
.flaticon-filter:before { content: "\f10f"; }
.flaticon-formas:before { content: "\f110"; }
.flaticon-foto:before { content: "\f111"; }
.flaticon-hoja:before { content: "\f112"; }
.flaticon-interface:before { content: "\f113"; }
.flaticon-interfaz:before { content: "\f114"; }
.flaticon-interfaz-1:before { content: "\f115"; }
.flaticon-location:before { content: "\f116"; }
.flaticon-magnifying-glass:before { content: "\f117"; }
.flaticon-more:before { content: "\f118"; }
.flaticon-negro:before { content: "\f119"; }
.flaticon-negro-1:before { content: "\f11a"; }
.flaticon-personas:before { content: "\f11b"; }
.flaticon-play-button:before { content: "\f11c"; }
.flaticon-plus:before { content: "\f11d"; }
.flaticon-profile:before { content: "\f11e"; }
.flaticon-reloj:before { content: "\f11f"; }
.flaticon-shapes:before { content: "\f120"; }
.flaticon-shapes-1:before { content: "\f121"; }
.flaticon-sign:before { content: "\f122"; }
.flaticon-signs:before { content: "\f123"; }
.flaticon-social:before { content: "\f124"; }
.flaticon-social-1:before { content: "\f125"; }
.flaticon-social-2:before { content: "\f126"; }
.flaticon-social-media:before { content: "\f127"; }
.flaticon-tecnologia:before { content: "\f128"; }
.flaticon-time:before { content: "\f129"; }
.flaticon-time-1:before { content: "\f12a"; }
.flaticon-up-arrow:before { content: "\f12b"; }
.flaticon-usuarios-multiples-en-silueta:before { content: "\f12c"; }
.flaticon-web:before { content: "\f12d"; }
.flaticon-witch:before { content: "\f12e"; }