#createTributeLists ul[role="tablist"]{
    display: flex;
    flex-direction: row;
    font-family: Raleway, Helvetica, sans-serif;
    background-color: #ffffff;
    border:none;
}

#createTributeLists ul[role="tablist"] li.active a{
    background-color: #3498DB;
    color: white;
    border-radius: 0;
}

#createTributeLists li[role="presentation"]{
    flex: 1;
}

#createTributeLists li[role="presentation"] a{
    border: none;
    background: none;
}

#createTributeLists .public-DraftEditor-content{
    min-height: 100px !important;
}

#createTributeLists .EditorToolbar__root___3_Aqz{
    display: none !important;
    min-height: 100px !important;
}

@media screen and (max-width: 768px){
    li:not([role="presentation"]:nth-of-type(1)){
        font-weight: bold;
    }
    #createTributeLists ul[role="tablist"]{
        overflow-x: auto;
        overflow-y: hidden;
    }
}