#rightSection ul[role="tablist"]{
    width: 80%;
    margin: 0 auto;
}
#rightSection li[role="presentation"]{
    width: 25%;
    text-align: center;
}
#rightSection .slick-prev:before, #rightSection .slick-next:before {
    background: transparent;
    font-size: 30px;
    color: #3498DB;
}
#rightSection .slick-prev{
    left: -35px !important;
}