#friends_tab li[role="presentation"]{
    width: 33.3%;
    text-align: center;
}
#friends_tab ul[role="tablist"]{
    max-width: 400px;
    margin:0 auto;
}
#friends_tab ul[role="tablist"] a{
    font-size: 18px;
}
@media screen and (max-width: 500px){
    #friends_tab ul[role="tablist"] a{
        font-size: 12px;
        padding: 10px 0;
    }
}