/*small navigation*/


.navigation-small{
    height: 100px !important;
}
.navigation-menu-small.searchIsActive{
    margin-top: 45px !important;
}
.navigation-small.searchIsActive{
    height: 150px !important;
}
.logoWrapper-small.searchIsActive{
    top: 80px !important;
}
.search-button-small.searchIsActive{
    top: 80px !important;
}
.home-button-small.searchIsActive{
    top:80px !important;
}
.home-button-small{
    top:30px !important;
    font-size: 20px !important;
    padding-top: 2px !important;
    width: 35px !important;
    height:35px !important;
}
.search-button-small{
    top:30px !important;
    font-size: 20px !important;
    padding-top: 2px !important;
    width: 35px !important;
    height:35px !important;
}

.logo-small{
    width: 200px !important;
}
.logoWrapper-small{
    top:25px !important;
}
.navigation-menu-small{
    margin-top:-7px !important;
}
.navigation-menu-small.menuIsActive{
    margin-top: 50px !important;
}


.navigation{
    background-color: #3498DB;
    height: 200px;
    transition: height ease 0.3s;
    border: 1px solid #3498DB;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}
.registrationButton{
    background-color: transparent;
    border: none;
    color: white;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: bold;
}
.navigation-menu{
    position: absolute;
    bottom: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width:80%;
    top:0;
    left: 0;
    right: 0;
    margin:0 auto;
    transition: margin-top ease 0.3s;
}
.navigation-search{
    position: relative;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    top:-50px;
    transition: all ease 0.3s;
}
.navigation-search button{
    position: absolute;
    color: white;
    font-size: 20px;
    right: -30px;
    display: block;
    padding-bottom: 5px;
    top: 6px;
    border: none;
    background-color: transparent;
}
.navigation-search input{
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid white;
    width: 100%;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 30px;
    font-size: 30px;
}
.navigation-menu-list{
    display: inline-block;
    align-self: center;
}
.navigation-menu-list a{
    color: white;
    font-family: Raleway, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.marginRight{
    margin-right: 120px;
}
.marginLeft{
    margin-left: 0;
}
.logoWrapper{
    position: absolute;
    left: 51%;
    transform: translateX(-50%);
    top: 50px;
    transition: top ease 0.3s;
}
@media screen and (max-width: 1000px){
    .logoWrapper{
        top: 60px;
    }
    .logo{
        width: 200px !important;
    }
    .marginRight{
        margin-right: 150px;
    }
}
.logo{
    width: 350px;
    transition: width ease 0.3s;
}

.logo.active{
    width: 200px !important;
}
.logoWrapper.active{
    top:30px;
}
@media screen and (min-width: 767px){
    .navigation.active{
        height: 100px !important;
    }
}
.navigation.active{
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}
.navigation-menu.active{
    margin-top:-7px;
}
.home-button{
    display: block;
    position: absolute;
    left: 40px;
    width: 50px;
    height:50px;
    top:70px;
    color: #3498DB;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding-top:6px;
    transition: all ease 0.3s;

}
.search-button{
    display: block;
    position: absolute;
    right: 40px;
    width: 50px;
    height:50px;
    top:70px;
    color: #3498DB;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    padding-top:6px;
    transition: all ease 0.3s;
    cursor: pointer;
}
.home-button.active{
    top:30px;
    font-size: 20px;
    padding-top: 2px;
    width: 35px;
    height:35px;
}
.search-button.active{
    top:30px;
    font-size: 20px;
    padding-top: 2px;
    width: 35px;
    height:35px;
}
@media screen and (max-width: 990px){


    .navigation-menu{
        width: 70%;
    }

}
@media screen and (max-width: 768px){
    .home-button{
        left: 30px;
    }
    .search-button{
        right: 30px;
    }
}
@media screen and (max-width: 768px){
    .navigation-search{
        width: 80%;
    }
    .logoWrapper.active{
        top: 30px !important;
    }
    .search-button.active{
        top: 30px !important;
        width: 30px;
        height: 30px;
        font-size: 15px;
        padding-top: 4px;
    }
    .navigation.searchIsActive{
        height: 160px !important;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    }
    .logoWrapper.searchIsActive{
        top: 80px !important;
    }
    .search-button.searchIsActive{
        top: 80px !important;
    }
    .home-button.searchIsActive{
        top:80px !important;
    }

    #menu-toggler{
        position: absolute;
        left: 30px;
        width: 35px;
        height:35px;
        top:30px;
        display: block !important;
        z-index: 99;
        background-color: transparent;
        cursor: pointer;
    }
    .navigation{
        height: 100px;
    }
    .navigation-menu{
        display: none;
    }
    #home-button{
        display: none;
    }
    .line{
        position: absolute;
        display: block;
        width: 30px;
        height: 2px;
        background-color: white;
        left: 2px;
    }
    .first-line{
        top: 10px;
    }
    .second-line{
        top: 16px;
    }
    .third-line{
        top: 22px;
    }
    .home-button{
        border-radius: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        top:30px;
    }
    .search-button{
        font-size: 15px;
        width: 30px;
        height: 30px;
        top:30px;
        padding-top: 4px;
    }
    .logoWrapper{
        top:30px;
    }
    .logo{
        width: 100px;
    }

}
.menuIsOpened{
    position: fixed;
    top:0;
    width: 100%;
    height: 100% !important;
    overflow-y: auto;
    z-index: 999;
}

#menu-toggler{
    display: none;
}
.menuIsActive{
    display: block;
    margin-top: 100px;
}
.menuIsActive li{
    display: block;
    margin: 0;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.noScroll{
    overflow-y: hidden;
}
.navigation-search.searchIsActive{
    top:10px;
}
.navigation.searchIsActive{
    height: 250px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}
.navigation-menu.searchIsActive{
    margin-top: 80px;
}
.home-button.searchIsActive{
    top: 110px;
}
.search-button.searchIsActive{
    top: 110px;
}
.logoWrapper.searchIsActive{
    top:100px;
}
.displayNone{
    display: none !important;
}

/*depends on authentication*/
.account-button{
    cursor: pointer;
    position: relative;
    padding: 20px 0 20px 0 ;
}
.DropDownMenu{
    display: none;
    width: 250px;
    font-weight: bold;
    color: white;
    top: 50px;
    padding: 0;
    right: -75px;
    background-color: rgba(52, 152, 219, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 3px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.DropDownMenu-item{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media screen and (min-width: 769px){
    .account-button:hover .DropDownMenu{
        display: block;
        position: absolute;

    }
}
@media screen and (max-width: 768px){
    .account-button{
        display: none;
    }
    .DropDownMenu{
        display: block;
        right: 0;
        width: auto;
        box-shadow: none;
    }
    .DropDownMenu-item{
        font-size: 16px !important;
        padding: 20px !important;
        height: 82px;
    }
}