/* Sticky footer styles */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* Set the fixed height of the footer here */
    height: 250px;
    color: white;
    margin-top: 50px;
    display: inline-block;
    background-color: #3498DB;
    z-index: 900;
}
.footer-center{
    text-align: center;
    font-size: 14px;
    font-family: Raleway, Helvetica, sans-serif;
    background-color: #3498DB;
    position: absolute;
    padding-top: 20px;
    bottom: 0;
    left:0;
    right: 0;
}
.footer-wrapper{
    padding-top: 60px;
    background-color: #3498DB;
}
.footer-left p{
    font-family: Raleway, Helvetica, sans-serif;

}
.footer-right{
    text-align: center;
    font-family: Raleway, Helvetica, sans-serif;
}
.text-muted {
    padding: 0.8em;
    color: white;
}
.text-muted a{
    color: white;
}
@media screen and (max-width: 767px){
    .footer-left{
        display: none;
    }
    .footer-right{
        display: none;
    }
    .footer{
        height: 50px;
    }
}
