@font-face {
    font-family: 'Raleway';
    src: url('Common/fonts/Raleway/Raleway-ExtraLight.ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Raleway';
    src: url('Common/fonts/Raleway/Raleway-Light.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url('Common/fonts/Raleway/Raleway-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url('Common/fonts/Raleway/Raleway-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url('Common/fonts/Raleway/Raleway-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Raleway';
    src: url('Common/fonts/Raleway/Raleway-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'button-normal';
    src: url('Common/fonts/SourceSansPro/SourceSansPro-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 18px;
    color: #333333;
    height: 100%;
    min-height: 700px;
    position: relative;
    padding-top: 50px;
    background-color: #f0f0f0;
}

