.dropdown-menu{
    left: -110px !important;
}
.cropPencil{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
}
/*#EditComment:hover, #EditComment:active, #EditComment:focus{*/
    /*background: transparent;*/
    /*border: none;*/
/*}*/
#commentWrapper-24d .dropdown{
    position: absolute !important;
    top:0;
    right:10px;
}
#commentWrapper-24d .dropdown .caret{
    display: none;
}
#commentWrapper-24d .dropdown-menu{
    left: -140px !important;
    width: 100px
}