@font-face {
  font-family: 'invoister-icons';
  src:  url('fonts/invoister-icons.eot?byxgm0');
  src:  url('fonts/invoister-icons.eot?byxgm0#iefix') format('embedded-opentype'),
    url('fonts/invoister-icons.ttf?byxgm0') format('truetype'),
    url('fonts/invoister-icons.woff?byxgm0') format('woff'),
    url('fonts/invoister-icons.svg?byxgm0#invoister-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ii-"], [class*=" ii-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'invoister-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ii-membership:before {
  content: "\e900";
}
.ii-email-settings:before {
  content: "\e901";
}
.ii-settings:before {
  content: "\e902";
}
.ii-messages:before {
  content: "\e903";
}
.ii-notification:before {
  content: "\e904";
}
.ii-tribute-pages:before {
  content: "\e905";
}
.ii-billing-history:before {
  content: "\e906";
}

